<mat-drawer-container class="example-container" autosize>
  <!-- SIDEBAR INICIO -->
  <mat-drawer [opened]="false" #drawer class="example-sidenav" mode="side" style="background-color: #3e343289;">
    <mat-nav-list>
      <a mat-list-item routerLink="courses" routerLinkActive="active">Cursos</a>
      <a mat-list-item routerLink="students" routerLinkActive="active">Alumnos</a>
    </mat-nav-list>
  </mat-drawer>
  <!-- SIDEBAR FIN -->

  <!-- MAIN CONTENT INICIO-->
  <div class="example-sidenav-content">
    <!-- TOOLBAR INICIO -->
    <mat-toolbar style="background-color: blueviolet;">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sistema de Alumnos</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <!-- TOOLBAR FIN -->

    <main class="p-5">
      <router-outlet></router-outlet>
    </main>
  </div>
  <!-- MAIN CONTENT FIN-->
</mat-drawer-container>
