.form-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.form-fields {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
  flex-grow: 1;
}

.header-icon {
  font-size: 36px;
  color: #aaa;
}

.user-icon {
  font-size: 80px;
  color: #aaa;
  align-self: flex-start;
}

.form-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

button {
  margin-right: 10px;
}
